
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <template>
            <div>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                  id="input-group-1"
                  label="Firstname:"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.firstname"
                    type="email"
                    placeholder="Enter Firstname"
                    required
                  ></b-form-input>
                </b-form-group>
          
                <b-form-group id="input-group-2" label="Last Name:" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.name"
                    placeholder="Enter name"
                    required
                  ></b-form-input>
                </b-form-group>

                <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    placeholder="Enter email"
                    required
                  ></b-form-input>
                </b-form-group>
                >
            </div>
          </template>
          
          <script>
            export default {
              data() {
                return {
                  form: {
                    email: '',
                    name: '',   
                }
                }
                },
              methods: {
                onSubmit(event) {
                  event.preventDefault()
                  alert(JSON.stringify(this.form))
                },
                onReset(event) {
                  event.preventDefault()
                 
                  this.form.email = ''
                  this.form.name = ''
                  this.show = false
                  this.$nextTick(() => {
                    this.show = true
                  })
                }
              }
            }
          </script>

    </body>
</html>
